<!DOCTYPE html>
<html lang="en" class="mdl-js">
<%= view "components/header.html.erb" %>
<body>
<section id="introduction">
  <div class="container">
    <div class="row fill-viewport align-items-center justify-content-center">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-md-auto">
            <h1 class="text-white title"><%= I18n.t(:codebreaker) %></h1>
          </div>
        </div>
        <p class="lead text-white-70">
          <%= I18n.t(:hello_msg, name: user_name)%><%= I18n.t(:short_rules)%>
        </p>
        <hr class="mb-4">
        <div class="row">
          <div class="col button">
            <button type="button" class="btn btn-primary">
              <%= I18n.t(:level) %>:
              <span class="badge badge-light">
                    <%= user_level %>
              </span>
            </button>
          </div>
          <div class="col text-center button">
            <button type="button" class="btn btn-primary">
              <%= I18n.t(:attempts) %>:
              <span class="badge badge-light">
                <%= user_attempts %>/<%= Codebreaker::Entities::Game::DIFFICULTIES[user_level.to_sym][:attempts]%>
              </span>
            </button>
          </div>

          <div class="col button">
            <button type="button" class="btn btn-primary float-right">
              <%= I18n.t(:hints) %>:
              <span class="badge badge-light">
                <%= user_hints %>/<%= Codebreaker::Entities::Game::DIFFICULTIES[user_level.to_sym][:hints]%>
              </span>
            </button>
          </div>
        </div>
        <hr class="mb-4">

        <form method="post" action="/guess">
          <div class="form-group">
            <input class="form-control guess_input" name="guess_code" pattern="^[1-6]{4}$"
                   <% if @request.session[:guess_code].empty? %>
                   placeholder="1234"
                   <% else %>
                   placeholder="<%= @request.session[:guess] %>"
                   <% end %>
                   required="" autocomplete="off">
          </div>
          <div class="form-group guess_markers_list">
            <div id="guess_marker">
              <% if @request.session[:guess_code].empty? %>
                <% @request.session[:guess_code].length.times do %>
                  <button type="button" class="btn btn-danger marks" disabled>x</button>
                <% end %>
              <% else %>
                <% @request.session[:guess_code].split('').each do |el| %>
                  <% if el == '+'%> <button type="button" class="btn btn-success marks" disabled>+</button>
                  <% elsif el == '-'%> <button type="button" class="btn btn-primary marks" disabled>-</button>
                  <% end %>
                <% end %>
                <% for i in 0...Codebreaker::Entities::Game::COUNT_NUMBERS do %>
                  <% unless @request.session[:guess_code].split('')[i] %> <button type="button" class="btn btn-danger marks" disabled>x</button> <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <hr class="mb-4">

          <button type="submit" class="btn btn-primary btn-lg">
            <%= I18n.t(:submit) %>
          </button>
        </form>
        <form method="post" action="/hint">
          <button class="btn btn-warning btn-lg float-right" role="button"
            <% if hints_not_remain? %> disabled<% end %>>
            <%= I18n.t(:show_hint) %>
            <% if used_hints.any? %>
                  <span class="badge badge-light">
                  <%= used_hints.join(",") %>
                  </span>
            <% end %>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>
