<!DOCTYPE html>
<html lang="en" class="mdl-js">
<%= view "components/header.html.erb" %>
<body>
  <section id="introduction">
    <div class="container">
      <div class="row fill-viewport align-items-center justify-content-center">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-md-auto">
              <h1 class="text-white title"><%= I18n.t(:codebreaker)%></h1>
            </div>
          </div>
          <% if @request.session[:scores] != nil %>
          <p class="lead text-white-70"><%= I18n.t(:top_of_players)%></p>
          <hr class="mb-4">
          <div class="table-responsive-md scores">
            <table class="table table-striped table table-sm">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col"><%= I18n.t(:name)%></th>
                <th scope="col"><%= I18n.t(:level)%></th>
                <th scope="col"><%= I18n.t(:attempts_spent)%></th>
                <th scope="col"><%= I18n.t(:hints_spent)%></th>
                <th scope="col"><%= I18n.t(:date)%></th>
              </tr>
              </thead>
              <tbody>
              <% @request.session[:scores].each_with_index do |data, user_id| %>
                <tr>
                  <th scope="row"><%= user_id + 1 %></th>
                  <td><%= data[:name] %></td>
                  <td><%= data[:difficulty] %></td>
                  <td><%= data[:attempts_wasted] %>/<%= data[:all_attempts] %></td>
                  <td><%= data[:hints_wasted] %>/<%= data[:all_hints] %></td>
                  <td><%= data[:date].strftime "%Y-%m-%d %H:%M:%S" %></td>
                </tr>
              </tbody>
          <% end %>
          </table>
          <% else %>
             <h2 style="color: yellow"> <%=I18n.t(:no_winners_yet) %> </h2>
          <% end %>
          </div>
          <hr class="mb-4">
          <a class="btn btn-primary btn-lg" href="/" role="button">
            <%= I18n.t(:home)%>
          </a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>